/build/
/build-*/
/cmake-build-*/
/core-go/core.exe
/Capricorn-v1.0.0-Windows-x64/
/.Capricorn-v1.0.0-Windows-x64-publishing-*/
/Capricorn-v1.0.0-Windows-x64.zip
/Capricorn-v1.0.0-Setup-x64.exe
/*startup-smoke.ok

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile
.ninja_deps
.ninja_log
build.ninja
*.obj
*.o
*.pdb
*.ilk
*_autogen/
